html,
body
{
  height: 100%;
}

.masthead
{
  background-color: #049CD9;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
  background-image: -webkit-linear-gradient(#004D9F, #049cd9);
  background-image: -moz-linear-gradient(#004D9F, #049cd9);
  background-image: -o-linear-gradient(top, #004D9F, #049cd9);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
}

.jumbotron
{
  min-width: 940px;
}

.jumbotron .inner
{
  background: transparent url("http://twitter.github.com/bootstrap/assets/img/grid-18px.png") top center;
}

.jumbotron .inner .container
{
  padding: 20px 0 0 0;
  color: white;
}

.jumbotron .inner .container a,
.jumbotron .inner .container a:hover
{
  color: white;
  text-decoration: none; 
}

.jumbotron .inner .container #site-name
{
  font-weight: bold;
  font-size: 54px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

#container
{
  min-width: 570px;
}

ul.primary
{
  margin: 0 0 15px 0;
}

ul.primary li a
{
  padding: 0 15px;
}

ul.secondary
{
  padding: 0 0 0 1em;
  border-bottom: 1px solid #DDD;
  margin: 0 0 15px 0;
}

ul.secondary li
{
  padding: 0;
  border-right: 0;
}

#primary-menu-wrapper,
#secondary-menu-wrapper
{
  margin-top: 20px;
}

#primary-menu-wrapper .tabs
{
  border: 0;
}

#primary-menu-wrapper .tabs .active > a,
#primary-menu-wrapper .tabs .active > a:hover
{
  border: 1px solid white;
}

#secondary-menu-wrapper
{
  border-bottom: 1px solid #DDD;
}

#primary-menu-wrapper .primary-links,
#secondary-menu-wrapper .secondary-links
{
  margin: 0 0 -1px 0;
}

#primary-menu-wrapper .tabs li a
{
  color: white;
  text-decoration: underline;
}

#primary-menu-wrapper .tabs li a.active,
#primary-menu-wrapper .tabs li a:hover
{
  color: #0069D6;
  text-decoration: none;
}

#primary-menu-wrapper .tabs li a:hover
{
  background-color: white;
  color: #0069D6;
  border: 1px solid white;
}

#common-wrapper {
  overflow: auto;
  min-height: 100%;
}

/*Opera Fix*/
body:before
{
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

#main-content-wrapper .container
{
  padding-top: 10px !important;
  padding-bottom: 150px;
}

#footer
{
  margin-top: -120px;
  /* negative value of footer height */
  height: 110px;
  padding: 10px 0 0 0;
  background-color: #404040;
  color: #fff;
}

form.form-stacked
{
  padding-left: 0;
}

.pager-current
{
  background-color: gray;
  color: white;
  font-weight: normal;
}


/* login form */
#user-login-form
{
  text-align: left;
}

#user-login-form input.xlarge
{
  width: 150px;
}

#user-login-form #edit-submit
{
  margin-bottom: 10px;  
}
